.jsonschema-inspector {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;

    $columnWidth: 15em;
    $detailsWidth: 20em;
    $selectionColor: #dcdcdc;
    $trailingSelectionColor: #276bd2;
    $trailingSelectionFontColor: #fff;
    $backgroundColor: #fff;
    $innerBorderColor: #e0e0e0;
    $outerBorderColor: #cbcbcb;
    $innerBorder: 1px solid $innerBorderColor;
    $outerBorder: 1px solid $outerBorderColor;

    $verticalSpacingOutside: 0.25em;
    $verticalItemSpacingInside: 0.25em;
    $leadItemSpacingInside: 0.75em;
    $spacingInside: 0.5em;
    $borderRadius: 0.25em;

    &-header,
    &-body,
    &-footer {
        display: flex;
        background-color: $backgroundColor;
        border: $outerBorder;
        border-radius: $borderRadius;
    }
    &-body {
        height: 25em;
    }
    &-colview {
        flex-grow: 1;
        display: flex;
        overflow-x: auto;
        margin-right: -1px;
        outline: none;
    }
    &-item {
        flex-shrink: 0;

        &.selected {
            background-color: $selectionColor;
        }
        &.matching-filter {
            font-weight: bold;
        }
        &.not-matching-filter {
            opacity: 0.5;
        }
        &-content {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }
        &-name {
            display: block;
            flex-grow: 1;
            padding: $verticalItemSpacingInside $spacingInside $verticalItemSpacingInside $leadItemSpacingInside;
            word-break: break-word;
        }
        &-icon {
            display: block;
            flex-grow: 0;
            height: 0;
            width: 0.25em;
            min-width: 0.25em;
            margin: 0.4em 0 0.4em 0.25em;
            border-top: 0.45em solid transparent;
            border-left: 0.5em solid transparent;
            border-bottom: 0.45em solid transparent;
        }
        &.has-nested-items > &-content > &-icon {
            border-left-color: #7f7f7f;
        }
    }
    &-column {
        &,
        &-placeholder {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: $columnWidth;
            min-width: $columnWidth;
            border-right: $innerBorder;
            overflow-y: auto;
            outline: none;
        }
        &-placeholder {
            opacity: 0;
        }
        &.optional-groups ul {
            margin: 0;
            padding: 0 0 0 $leadItemSpacingInside;
            list-style-type: none;
        }
        .optional-group-title {
            padding: $verticalItemSpacingInside $spacingInside $verticalItemSpacingInside $leadItemSpacingInside;
            font-style: italic;
        }
    }
    &-column.trailing-selection &-item.selected {
        background-color: $trailingSelectionColor;
        color: $trailingSelectionFontColor;
    }
    &-column.trailing-selection &-item.selected.has-nested-items &-item-icon {
        border-left-color: $trailingSelectionFontColor;
    }
    &-details {
        width: $detailsWidth;
        min-width: $detailsWidth;
        overflow: auto;
        border-left: $innerBorder;

        &-header {
            margin-top: 0;
        }
        &-content {
            padding: 1em;
        }
        &-form {
            display: flex;
            flex-direction: column;
            $labelWidth: 30%;

            &-row {
                display: flex;
                flex-direction: row;
                margin-bottom: 0.5em;
            }
            &-label,
            &-value {
                display: inline-block;
                vertical-align: top;
                word-wrap: break-word;
            }
            &-label {
                width: $labelWidth;
                padding-right: 0.5em;
            }
            &-value {
                width: 100% - $labelWidth;
            }
        }
    }
    &-header {
        flex-direction: row-reverse;
        margin-bottom: $verticalSpacingOutside;
        align-items: end;
    }
    &-toolbar {
        padding: $spacingInside;
        min-height: 2em;
        flex-grow: 1;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &-search {
        padding: $spacingInside;

        &-input {
            font: inherit;
            line-height: 2em;
            min-height: 2em;
            border: $innerBorder;
            border-radius: $borderRadius;
            padding: 0 $spacingInside;
            min-width: ($detailsWidth - (2 * $spacingInside));
        }
    }
    &-footer {
        margin-top: $verticalSpacingOutside;
    }
    &-breadcrumbs {
        display: flex;
        flex-flow: row wrap;
        padding: $spacingInside 0.75em $spacingInside (5 * $spacingInside);
        font-family: 'Courier New', Courier, monospace;

        &-icon {
            display: block;
            height: 0;
            width: 0;
            margin: 0.25em 0 0.25em (-4 * $spacingInside);
            border-top: 0.75em solid transparent;
            border-left: 0.8em solid $trailingSelectionColor;
            border-bottom: 0.75em solid transparent;
        }
        &-item {
            display: block;
            position: relative;
            margin: 0.1em 0;

            & > span {
                display: block;
                text-overflow: ellipsis;
                line-height: 2em;
                padding: 0 0.25em;
                margin: 0 -0.25em 0 1em;
                background-color: $selectionColor;
            }
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0;
                border-top: 1em solid $selectionColor;
                border-left: 1em solid transparent;
                border-bottom: 1em solid $selectionColor;
            }

            &.has-nested-items {
                padding-right: 0.25em;
                margin-right: 0.25em;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: -1em;
                    width: 0;
                    height: 0;
                    border-top: 1em solid transparent;
                    border-left: 1em solid $selectionColor;
                    border-bottom: 1em solid transparent;
                }
            }
            &:not(.has-nested-items) {
                margin-right: -0.75em;

                & > span {
                    padding-right: 0.5em;
                }
            }
        }
    }
    & .nothing-to-show {
        display: none;
    }
}
