.jsonschema-inspector {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.jsonschema-inspector-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #cbcbcb;
    height: 25em;
    border-radius: 0.25em;
}
.jsonschema-inspector-colview {
    flex-grow: 1;
    display: flex;
    overflow-x: auto;
    margin-right: -1px;
}
.jsonschema-inspector-column,
.jsonschema-inspector-column-placeholder {
    display: flex;
    flex-direction: column;
    width: 15em;
    min-width: 15em;
    border-right: 1px solid;
    overflow-y: scroll;
}
.jsonschema-inspector-column-placeholder {
    opacity: 0;
}
.jsonschema-inspector-item {
    text-align: start;
    border: none;
    background: inherit;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
}
.jsonschema-inspector-item.selected {
    background-color: #dcdcdc;
}
.jsonschema-inspector-column.trailing-selection .jsonschema-inspector-item.selected {
    background-color: #276bd2;
    color: white;
}
.jsonschema-inspector-item-content {
    display: flex;
    flex-direction: row;
}
.jsonschema-inspector-item-name {
    display: block;
    flex-grow: 1;
    padding: 0.25em 0.5em 0.25em 0.75em;
}
.jsonschema-inspector-item-icon {
    display: none;
    flex-grow: 0;
    padding: 0.25em 0.5em 0.25em 0;
}
.jsonschema-inspector-item-icon:after {
    content: '\25B6';
    font-size: 10px;
    color: #7f7f7f;
}
.jsonschema-inspector-column.trailing-selection .jsonschema-inspector-item.selected .jsonschema-inspector-item-icon:after {
    color: inherit;
}
.jsonschema-inspector-item.has-nested-items > .jsonschema-inspector-item-content > .jsonschema-inspector-item-icon {
    display: block;
}
.jsonschema-inspector-details {
    width: 20em;
    min-width: 20em;
    overflow: auto;
    border-left: 1px solid;
}
.jsonschema-inspector-column,
.jsonschema-inspector-column-placeholder,
.jsonschema-inspector-details {
    border-color: #e0e0e0;
}
.jsonschema-inspector-details-content {
    padding: 1em;
}
.jsonschema-inspector-details-header:first-child {
    margin-top: 0;
}
.jsonschema-inspector-details-form {
    display: flex;
    flex-direction: column;
}
.jsonschema-inspector-details-form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
}
.jsonschema-inspector-details-form-label,
.jsonschema-inspector-details-form-value {
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
}
.jsonschema-inspector-details-form-label {
    width: 30%;
    padding-right: 0.5em;
}
.jsonschema-inspector-details-form-value {
    width: 70%;
}
