.jsonschema-inspector {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;

    $columnWidth: 15em;
    $detailsWidth: 20em;
    $selectionColor: #dcdcdc;
    $trailingSelectionColor: #276bd2;
    $innerBorderColor: #e0e0e0;
    $outerBorderColor: #cbcbcb;
    $innerBorder: 1px solid $innerBorderColor;
    $outerBorder: 1px solid $outerBorderColor;

    &-body,
    &-footer {
        display: flex;
        flex-direction: row;
        border: $outerBorder;
        border-radius: 0.25em;
    }
    &-body {
        height: 25em;
    }
    &-colview {
        flex-grow: 1;
        display: flex;
        overflow-x: auto;
        margin-right: -1px;
    }
    &-column {
        &,
        &-placeholder {
            display: flex;
            flex-direction: column;
            width: $columnWidth;
            min-width: $columnWidth;
            border-right: $innerBorder;
            overflow-y: auto;
        }
        &-placeholder {
            opacity: 0;
        }
    }
    &-item {
        flex-shrink: 0;
        text-align: start;
        border: none;
        background: inherit;
        color: inherit;
        font: inherit;
        padding: 0;
        margin: 0;

        &.selected {
            background-color: $selectionColor;
        }
        &.matching-filter {
            font-weight: bold;
        }
        &.not-matching-filter {
            opacity: 0.6;
        }
        &-content {
            display: flex;
            flex-direction: row;
        }
        &-name {
            display: block;
            flex-grow: 1;
            padding: 0.25em 0.5em 0.25em 0.75em;
        }
        &-icon {
            display: block;
            flex-grow: 0;
            width: 1em;
        }
        &.has-nested-items > &-content > &-icon {
            background-color: #7f7f7f;
            -webkit-clip-path: polygon(25% 25%, 75% 50%, 25% 75%);
            clip-path: polygon(25% 25%, 75% 50%, 25% 75%);
        }
    }
    &-column.trailing-selection &-item.selected {
        background-color: $trailingSelectionColor;
        color: white;
    }
    &-column.trailing-selection &-item.selected &-item-icon:after {
        color: inherit;
    }
    &-details {
        width: $detailsWidth;
        min-width: $detailsWidth;
        overflow: auto;
        border-left: $innerBorder;

        &-header:first-child {
            margin-top: 0;
        }
        &-content {
            padding: 1em;
        }
        &-separator {
            border-color: $innerBorderColor;
        }
        &-form {
            display: flex;
            flex-direction: column;
            $labelWidth: 30%;

            &-row {
                display: flex;
                flex-direction: row;
                margin-bottom: 0.5em;
            }
            &-label,
            &-value {
                display: inline-block;
                vertical-align: top;
                word-wrap: break-word;
            }
            &-label {
                width: $labelWidth;
                padding-right: 0.5em;
            }
            &-value {
                width: 100% - $labelWidth;
            }
        }
    }
    &-footer {
        margin-top: 0.25em;
    }
    &-breadcrumbs {
        display: flex;
        flex-flow: row wrap;
        padding: 0.25em 0.75em 0.25em 2.5em;
        min-height: 2.25em;
        font-family: 'Courier New', Courier, monospace;

        &-icon,
        &-item {
            display: block;
            border-radius: 0.25em;
        }
        &-icon {
            background-color: $trailingSelectionColor;
            height: 1.75em;
            width: 1em;
            margin: 0.25em 0 0.25em -2em;
            -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
        }
        &-item {
            background-color: $selectionColor;
            margin: 0.25em -0.5em 0.25em 0;
            padding: 0 0.25em 0 1.25em;
            line-height: 1.75em;

            &.has-nested-items {
                padding-right: 1em;
                -webkit-clip-path: polygon(0% 0%, calc(100% - 1em) 0%, 100% 50%, calc(100% - 1em) 100%, 0% 100%, 1em 50%);
                clip-path: polygon(0% 0%, calc(100% - 1em) 0%, 100% 50%, calc(100% - 1em) 100%, 0% 100%, 1em 50%);
            }
            &:not(.has-nested-items) {
                -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 1em 50%);
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 1em 50%);
            }
        }
    }
}
